@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to activity tracker</h1>

This frontend application can communicate with the backend API made as a FaaS solution. The backend is running on Azure Function with a MongoDB for storing the activities.

<br /><br />


This application can:

<br />


<ul>
    <li>Start a new activity</li>
    
    <li>Stop an activity</li>

    <li>Get a overview of each activity</li>

</ul>